---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <section class="pt-[172px]">
    <div class="container-fluid flex relative">
      <div class="-rotate-90 flex items-center gap-x-10 absolute -left-[180px] top-[150px]">
        <a class="text-white text-[14px] uppercase" href="#">development</a>
        <a class="text-white text-[14px] uppercase" href="#">designing</a>
        <a class="text-white text-[14px] uppercase" href="#">digital marketing</a>
      </div>
      <div class="pl-[170px]">
        <p class="text-white capitalize text-[70px]">brand.<span class="text-[#7E7E7E]">design</span>.<span class="text-[#7E7E7E]">product</span>. <br> in-hous development. <br> &more</p>
      </div>
    </div>
	<div>
		
	</div>
  </section>
</MainLayout>

<style>
  .container-fluid {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
  }
</style>
